.main {
    display: flex;
}

.right {
    width: calc(100% - 50px);
    margin-left: 50px;
    padding: 10px;
}

.pixel-body {
    display: flex;
}

.left {
    position: fixed;
    bottom: 0;
    top: 0;
}

.pixel-header {
    text-align: center;
}

.item-menu:hover {
    cursor: pointer;
}

.popover {
    left: 2px !important;
}

.popover-body {
    font-weight: 600;
}

.box-row {
    display: flex;
}

.box-col {
    border: 1px solid;
    width: 100%;
}

.tileRow {
    width: 100%;
    display: flex;
}

.container-one,
.container-two {
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

.gameBoard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tileRow .tileWrap {
    width: 100%;
    display: flex;
    display: -moz-box;
    align-items: center;
    justify-content: center;
    position: relative
}

.tileRow .tileWrap .tile {
    border: 1px solid #efefef;
    transition: 100ms;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.eyeDropper .tileRow .tileWrap .tile {
    cursor: crosshair;
}

.tileWrap:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.noframe .tileRow .tileWrap .tile {
    border: none;
}

.container-one {
    flex: 1;
}

.container-two {
    width: 200px;
    margin-left: 10px;
    text-align: center;
}

.title {
    font-weight: 600;
    margin-bottom: 5px;
}

.line {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.color-box {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #ccc;
    cursor: pointer;
}

.colors-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

[data-theme="primary"] .left,
[data-theme="primary"] .btn-draw,
.primary {
    background: #2f2f2f;
}

[data-theme="black"] .left,
[data-theme="black"] .btn-draw,
.black {
    background: #000;
}

.white {
    background: #fff;
}

[data-theme="tomato"] .left,
[data-theme="tomato"] .btn-draw,
.tomato {
    background-color:Tomato;
}

[data-theme="orange"] .left,
[data-theme="orange"] .btn-draw,
.orange {
    background-color:Orange;
}

[data-theme="dodgerBlue"] .left,
[data-theme="dodgerBlue"] .btn-draw,
.dodgerBlue {
    background-color:DodgerBlue;
}

[data-theme="mediumSeaGreen"] .left,
[data-theme="mediumSeaGreen"] .btn-draw,
.mediumSeaGreen {
    background-color:MediumSeaGreen
}

[data-theme="gray"] .left,
[data-theme="gray"] .btn-draw,
.gray {
    background-color:Gray;
}

.slateBlue {
    background-color:SlateBlue;
}

.violet {
    background-color:Violet;
}

.teal {
    background-color:teal;
}

.lightSeaGreen {
    background-color: lightseagreen;
}

.orangeRed {
    background-color: orangered;
}

.yellow {
    background-color: yellow;
}

.cellValue {
    display: flex;
    justify-content: space-around;
}

.row-cell,
.col-cell {
    display: flex;
}

.cell-title {
    font-weight: 600;
    margin-bottom: 5px;
    padding-right: 5px;
}

.logo {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 30px;
    width: 30px;
}

.circle .tileRow .tileWrap .tile {
    border-radius: 50%;
}


.frame-container {
    display: flex;
    justify-content: center;
}

#frame-box {
    height: 25px;
    width: 25px;
    border: 2px solid #ccc;
    margin-right: 15px;
    cursor: pointer;
}

#frame-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

#frame-box.active {
    background-color: #000;
}

#frame-circle.active {
    background-color: #000;
}

.show-backdrop {
    display: flex;
}


.grid-field-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-field {
    width: 85% !important;
    padding: 5px 5px 5px 10px;
}

.btn-draw-container {
    display: flex;
    justify-content: center;
}

.btn-draw {
    color: #fff;
    border-radius: 2px;
    padding: 4px;
    margin: 5px 0px;
    width: 90%;
}


#toast-container > .toast-success {
    background-image: none !important;
}

#toast-container > div {
    margin: 0 0 6px !important;
    padding: 12px !important;
    width: 250px !important;
}


.left.help-list {
    position: unset;
    background: unset;
    width: unset;
}

.help-list .item-menu {
    /* background: #2f2f2f; */
    width: 50px;
}

.help-list .item-menu-box {
    background: #2f2f2f;
}

.item-menu-container {
    display: flex;
    align-items: center;
}

.item-menu-details {
    padding-left: 10px;
}

.saved-frame-list {
    text-align: left;
}

.saved-frame {
    cursor: pointer;
}

.btn-save-frame {
    width: 100%;
}


/* Slider */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #20b2aa;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}